<%- include ('partials/_masterHeader'); %>


<script>
    $("#buttonBanks").attr("aria-pressed", "true");
</script>

<!-- Page Content -->
<div class="container-fluid">
    <h1>Bancos</h1>
    
       
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalbancos">
        Añadir nuevo Banco
    </button>

    
    <!-- Inicio Modal -->
    <div class="modal fade" id="modalbancos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <!-- Modal header-->
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Registrar Banco</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- Modal body-->
                <div class="modal-body">

                    <form class="text-center p-3 row container-fluid" action="/addbank" data-toggle="validator" method="POST">

                        <div class="md-form form-sm col-sm-4">
                            <input type="string" style="text-transform:uppercase" name="rut" class="form-control form-control-sm" required>
                            <label for="rut">Rut</label>
                        </div>

                        <div class="md-form form-sm col-sm-4">
                            <input type="string" style="text-transform:uppercase" name="nombre" class="form-control form-control-sm" required>
                            <label for="nombre">Nombre o Razón Social</label>
                        </div>

                        <div class="md-form form-sm col-sm-3">
                            <input type="string" style="text-transform:uppercase" name="direccion" class="form-control form-control-sm" required>
                            <label for="direccion">Dirección</label>
                        </div>

                        <div class="md-form form-sm col-sm-4">
                            <input type="string" style="text-transform:uppercase" name="representante" class="form-control form-control-sm" required>
                            <label for="representante">Representante</label>
                        </div>
                        
                        <div class="md-form form-sm col-sm-6">
                            <input type="number" name="celular" class="form-control form-control-sm">
                            <label for="celular">N° Celular</label>
                        </div>
                        
                        <div class="md-form form-sm col-sm-3">
                            <input type="string" style="text-transform:uppercase" name="email" class="form-control form-control-sm" required>
                            <label for="email">Email</label>
                        </div>
                        
                        <!-- Modal footer-->
                        <div class="modal-footer container-fluid">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                        <!--Fin Modal-->
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Inicio Tabla-->

    <!--Inicio Tabla Principal-->

    <div class="table-responsive">

        <table class="table table-hover table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th scope="col">Rut</th>
                    <th scope="col">Nombre/Razón Social</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Representante</th>
                    <th scope="col">Celular</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i<bancos.length; i++){ %>
                <tr>
                    <td style="text-transform:uppercase"><%= bancos[i].rut  %></td>
                    <td style="text-transform:uppercase"><%= bancos[i].nombre  %></td>
                    <td style="text-transform:uppercase"><%= bancos[i].direccion%></td>
                    <td style="text-transform:uppercase"><%= bancos[i].representante  %></td>
                    <td><%= bancos[i].celular  %></td>
                    <td><%= bancos[i].email  %></td>
                    
                    <td>
                        <a href="/deleteBank/<%= bancos[i]._id %>" class="btn btn-danger">Borrar</a>
                        <a href="/master/editBank/<%= bancos[i]._id %>" class="btn btn-info">Editar</a>
                    </td>

                </tr>
                <%}%>
            </tbody>
        </table>
    </div>    
        
    
    
</div>

<%- include ('partials/_footer'); %>
