<%- include ('partials/_masterHeader'); %>

<script>
    $("#buttonClients").attr("aria-pressed", "true");
</script>

<!-- Page Content -->
<div class="container-fluid">
    <h1>Clientes</h1>
    

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalclientes">
        Añadir nuevo Cliente
    </button>

<!--        <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="image">
        <button type="submit">Guardar</button>
        </form>-->
    
    <!-- Inicio Modal -->
    <div class="modal fade" id="modalclientes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <!-- Modal header-->
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Registrar Cliente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- Modal body-->
                <div class="modal-body">

                    <form class="text-center p-3 row container-fluid" action="/addClient" data-toggle="validator" method="POST">

                        <div class="md-form form-sm col-sm-4">
                            <input type="string" style="text-transform:uppercase" name="rut" class="form-control form-control-sm" required>
                            <label for="rut">Rut</label>
                        </div>

                        <div class="md-form form-sm col-sm-4">
                            <input type="string" style="text-transform:uppercase" name="nombre" class="form-control form-control-sm" required>
                            <label for="nombre">Nombre o Razón Social</label>
                        </div>

                        <div class="md-form form-sm col-sm-4">
                            <input type="String" style="text-transform:uppercase" name="giro" class="form-control form-control-sm" required>
                            <label for="giro">Giro</label>
                        </div>
                        
                        <div class="md-form form-sm col-sm-4">
                            <input type="text" style="text-transform:uppercase" name="region" class="form-control form-control-sm" required>
                            <label for="region">Región</label>
                        </div>


                        <div class="md-form form-sm col-sm-3">
                            <input type="text" style="text-transform:uppercase" name="comuna" class="form-control form-control-sm"  required>
                            <label for="comuna">Comuna</label>
                        </div>

                        <div class="md-form form-sm col-sm-3">
                            <input type="string" style="text-transform:uppercase" name="direccion" class="form-control form-control-sm" required>
                            <label for="direccion">Dirección</label>
                        </div>
    
                        
                        <div class="md-form form-sm col-sm-3">
                            <input type="text" style="text-transform:uppercase" name="representante" class="form-control form-control-sm" required>
                            <label for="representante">Nombre de Representante</label>
                        </div>
                        
                        <div class="md-form form-sm col-sm-3">
                            <input type="string" style="text-transform:uppercase" name="email" class="form-control form-control-sm" required>
                            <label for="email">Email Representante</label>
                        </div>

                        <div class="md-form form-sm col-sm-6">
                            <input type="number" name="celular" class="form-control form-control-sm">
                            <label for="celular">Celular Representante</label>
                        </div>

          
                        <!-- Modal footer-->
                        <div class="modal-footer container-fluid">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                        <!--Fin Modal-->
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Inicio Tabla-->

    <!--Inicio Tabla Principal-->

    <div class="table-responsive">

        <table class="table table-hover table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th scope="col">Rut</th>
                    <th scope="col">Nombre/Razón Social</th>
                    <th scope="col">Giro</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Representante</th>
                    <th scope="col">Correo</th>
                    <th scope="col">N° Celular</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i<clientes.length; i++){ %>
                <tr>
                    <td style="text-transform:uppercase"><%= clientes[i].rut  %></td>
                    <td style="text-transform:uppercase"><%= clientes[i].nombre  %></td>
                    <td style="text-transform:uppercase"><%= clientes[i].giro  %></td>
                    <td style="text-transform:uppercase"><%= clientes[i].region%>, <%= clientes[i].comuna%>, <%= clientes[i].direccion%></td>
                    <td style="text-transform:uppercase"><%= clientes[i].representante  %></td>
                    <td><%= clientes[i].email  %></td>
                    <td><%= clientes[i].celular  %></td>

                    <td>
                        <a href="/deleteClient/<%= clientes[i]._id %>" class="btn btn-danger">Borrar</a>
                        <a href="/master/editClient/<%= clientes[i]._id %>" class="btn btn-info">Editar</a>
                    </td>

                </tr>
                <%}%>
            </tbody>
        </table>
    </div>    
    
    
    
</div>



<%- include ('partials/_footer'); %>
