<%- include ('partials/_masterHeader'); %>
    <form class="text-center p-3 row container-fluid" action="/editEnterprise/<%=empresas._id%>" data-toggle="validator" method="POST">

        
                        <div class="md-form form-sm col-sm-4">
                            <input type="string" style="text-transform:uppercase" name="rut" class="form-control form-control-sm" value="<%=empresas.rut%>" required>
                            <label for="rut">Rut</label>
                        </div>

                        <div class="md-form form-sm col-sm-4">
                            <input type="string" style="text-transform:uppercase" name="nombre" class="form-control form-control-sm" value="<%=empresas.nombre%>" required>
                            <label for="nombre">Nombre o Razón Social</label>
                        </div>

                        <div class="md-form form-sm col-sm-4">
                            <input type="String" style="text-transform:uppercase" name="giro" class="form-control form-control-sm" value="<%=empresas.giro%>"required>
                            <label for="giro">Giro</label>
                        </div>
                              
                        <div class="md-form form-sm col-sm-4">
                            <input type="String" style="text-transform:uppercase" name="representante" class="form-control form-control-sm" value="<%=empresas.representante%>"required>
                            <label for="representante">Representante</label>
                        </div>
                        
                        <div class="md-form form-sm col-sm-4">
                            <input type="text" style="text-transform:uppercase" name="region" class="form-control form-control-sm" value="<%=empresas.region%>" required>
                            <label for="region">Región</label>
                        </div>


                        <div class="md-form form-sm col-sm-3">
                            <input type="text" style="text-transform:uppercase" name="comuna" class="form-control form-control-sm" value="<%=empresas.comuna%>" required>
                            <label for="comuna">Comuna</label>
                        </div>

                        <div class="md-form form-sm col-sm-3">
                            <input type="string" style="text-transform:uppercase" name="direccion" class="form-control form-control-sm" value="<%=empresas.direccion%>" required>
                            <label for="direccion">Dirección</label>
                        </div>
    
                        <div class="md-form form-sm col-sm-6">
                            <input type="number" name="celular" class="form-control form-control-sm" value="<%=empresas.celular%>">
                            <label for="celular">N° Celular</label>
                        </div>
                        
                        <div class="md-form form-sm col-sm-3">
                            <input type="string"  name="email" class="form-control form-control-sm" value="<%=empresas.email%>" >
                            <label for="email">Email</label>
                        </div>
                        
                        <div class="md-form form-sm col-sm-6">
                            <input type="string" style="text-transform:uppercase" name="banco" class="form-control form-control-sm" value="<%=empresas.banco%>">
                            <label for="banco">Banco</label>
                        </div>
                        
                        <div class="md-form form-sm col-sm-6">
                            <input type="string" style="text-transform:uppercase" name="tipo" class="form-control form-control-sm" value="<%=empresas.tipo%>">
                            <label for="tipo">Tipo de Cuenta</label>
                        </div>
                        
                        <div class="md-form form-sm col-sm-6">
                            <input type="number" name="nrocuenta" class="form-control form-control-sm" value="<%=empresas.nrocuenta%>">
                            <label for="nrocuenta">N° Cuenta</label>
                        </div>
                                
  
        
        <!-- Modal footer-->
        <div class="modal-footer container-fluid">
            <a href="/master/enterprises"><button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button></a>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
        <!--Fin Modal-->
    </form>
<%- include ('partials/_footer'); %>