<%- include ('partials/_masterHeader'); %>
    <form class="text-center p-3 row container-fluid" action="/editWorker/<%=trabajadores._id%>" data-toggle="validator" method="POST">

                        <div class="md-form form-sm col-sm-4">
                            <input type="string" style="text-transform:uppercase" name="nombre" class="form-control form-control-sm" value="<%=trabajadores.nombre%>" required>
                            <label for="nombre">Nombre de usuario</label>
                        </div>

                        <div class="md-form form-sm col-sm-4">
                            <input type="string" name="contraseña"
                                class="form-control form-control-sm" value="<%=trabajadores.contraseña%>" required>
                            <label for="nombre">Contraseña</label>
                        </div>
        
        <!-- Modal footer-->
        <div class="modal-footer container-fluid">
            <a href="/master/workers"><button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button></a>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
        <!--Fin Modal-->
    </form>
<%- include ('partials/_footer'); %>