<%- include ('partials/_masterHeader'); %>

<script>
    $("#buttonTrucks").attr("aria-pressed", "true");
</script>

<!-- Page Content -->
<div class="container-fluid">
    <h1>Camiones</h1>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalcamiones">
        Añadir nuevo Camión
    </button>

    <!-- Inicio Modal -->
    <div class="modal fade" id="modalcamiones" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <!-- Modal header-->
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Registrar Camiones</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- Modal body-->
                <div class="modal-body">

                    <form class="text-center p-3 row container-fluid" action="/addTruck" data-toggle="validator" method="POST">

                        <div class="md-form form-sm col-sm-4">
                            <input type="string" style="text-transform:uppercase" name="patente" class="form-control form-control-sm" maxlength="6" pattern="[A-Za-z]{4||2}[0-9]{2||4}" required>
                            <label for="patente">Patente</label>
                        </div>

                        <!-- Modal footer-->
                        <div class="modal-footer container-fluid">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                        <!--Fin Modal-->
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Inicio Tabla-->

    <!--Inicio Tabla Principal-->

    <div class="table-responsive">

        <table class="table table-hover table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th scope="col">Patente</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i<camiones.length; i++){ %>
                <tr>
                    <td style="text-transform:uppercase"><%= camiones[i].patente  %></td>
                    <td>
                        <a href="/deleteTruck/<%= camiones[i]._id %>" class="btn btn-danger">Borrar</a>
                        <a href="/master/editTruck/<%= camiones[i]._id %>" class="btn btn-info">Editar</a>
                    </td>
                </tr>
                <%}%>
            </tbody>
        </table>
    </div>
</div>

<%- include ('partials/_footer'); %>