<%- include ('partials/_masterHeader'); %>
<script>
    $("#buttonWorkers").attr("aria-pressed", "true");
</script>

<!-- Page Content -->
<div class="container-fluid">
    <h1>Trabajadores</h1>
    
    
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modaltrabajadores">
        Añadir nuevo trabajador
    </button>

    <!-- Inicio Modal -->
    <div class="modal fade" id="modaltrabajadores" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <!-- Modal header-->
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Registrar Cliente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- Modal body-->
                <div class="modal-body">

                    <form class="text-center p-3 row container-fluid" action="/addWorker" data-toggle="validator" method="POST">

                        <div class="md-form form-sm col-sm-4">
                            <input type="string" style="text-transform:uppercase" name="nombre" class="form-control form-control-sm" required>
                            <label for="nombre">Nombre de usuario</label>
                        </div>

                        <div class="md-form form-sm col-sm-4">
                            <input type="string" name="contraseña" class="form-control form-control-sm" required>
                            <label for="contraseña">Contraseña</label>
                        </div>

                        
                        <!-- Modal footer-->
                        <div class="modal-footer container-fluid">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                        <!--Fin Modal-->
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Inicio Tabla-->

    <!--Inicio Tabla Principal-->

    <div class="table-responsive">

        <table class="table table-hover table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Contraseña</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i<trabajadores.length; i++){ %>
                <tr>
                    <td style="text-transform:uppercase"><%= trabajadores[i].nombre  %></td>
                    <td><%= trabajadores[i].contraseña  %></td>
                    <td>
                        <a href="/deleteWorker/<%= trabajadores[i]._id %>" class="btn btn-danger">Borrar</a>
                        <a href="/master/editWorker/<%= trabajadores[i]._id %>" class="btn btn-info">Editar</a>
                    </td>
                </tr>
                <%}%>
            </tbody>
        </table>
    </div>    
    
</div>

<%- include ('partials/_footer'); %>
