<%- include ('partials/_header'); %>

<script>
    $("#buttonCharges").attr("aria-pressed", "true");
</script>

<!-- Page Content -->
<div class="container-fluid">
    <h1>Cobros</h1>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalcobros">
        Añadir nuevo cobro
    </button>

    <!-- Inicio Modal -->
    <div class="modal fade" id="modalcobros" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <!-- Modal header-->
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Registrar Cuenta por Cobrar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- Modal body-->
                <div class="modal-body">
                    <form class="text-center p-3 row container-fluid" action="/addCharge" data-toggle="validator"
                        method="POST">

                        <div class="md-form form-sm col-sm-4">
                            <input type="string" name="nombre" class="form-control form-control-sm" required>
                            <label for="nombre">Nombre</label>
                        </div>

                        <div class="md-form form-sm col-sm-4">
                            <input type="number" name="monto" class="form-control form-control-sm" required>
                            <label for="monto">Monto</label>
                        </div>

                        <div class="md-form form-sm col-sm-4">
                            <input type="string" name="descripcion" class="form-control form-control-sm" required>
                            <label for="descripcion">Descripción</label>
                        </div>

                        <div class="modal-footer container-fluid">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

   <!--Inicio Tabla Principal-->

    <div class="table-responsive">

        <table class="table table-hover table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Monto</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Pendiente</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i<cobros.length; i++){ %>
                <tr>
                    <td style="text-transform:uppercase"><%= cobros[i].nombre  %></td>
                    <td><%= cobros[i].monto  %></td>
                    <td style="text-transform:uppercase"><%= cobros[i].descripcion  %></td>
                    <td><%= cobros[i].pendiente  %></td>
                </tr>
                <%}%>
            </tbody>
        </table>
    </div>    
         



</div>

<%- include ('partials/_footer'); %>
