<%- include ('../../partials/_masterheader'); %>

<script>
    $("#buttonChasis").attr("aria-pressed", "true");
</script>

<!-- Page Content -->
<div class="container-fluid">
    <h1>Ramplas</h1>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalramplas">
        Añadir nueva Rampla
    </button>
    
    <!-- Inicio Modal -->
    <div class="modal fade" id="modalramplas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <!-- Modal header-->
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Añadir Rampla</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!-- Modal body-->
                <div class="modal-body">
                    <form class="text-center p-3 row container-fluid" action="/addChasis" data-toggle="validator"
                        method="POST">
                        <input type="string" style="text-transform:uppercase" name="patente"
                            class="form-control form-control-sm" maxlength="6" pattern="[A-Za-z]{4||2}[0-9]{2||4}"
                            required>
                        <label for="patente">Patente</label>
                        <input type="string" style="text-transform:uppercase" name="tara"
                            class="form-control form-control-sm" required>
                        <label for="patente">Tara</label>
                        <input type="string" style="text-transform:uppercase" name="marca"
                            class="form-control form-control-sm" required>
                        <label for="patente">Marca</label>
                        <input type="string" style="text-transform:uppercase" name="modelo"
                            class="form-control form-control-sm" required>
                        <label for="patente">Modelo</label>
                        <input type="string" style="text-transform:uppercase" name="ndeserie"
                            class="form-control form-control-sm" required>
                        <label for="patente">Número de serie</label>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="customSwitch1" name="disponibilidad"
                                value="false">
                            <label class="custom-control-label" for="customSwitch1">Disponibilidad</label>
                        </div>
                        <!-- Modal footer-->
                        <div class="modal-footer container-fluid">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                        <!--Fin Modal-->
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Inicio Tabla-->

    <!--Inicio Tabla Principal-->

    <div class="table-responsive ">

        <table class="table table-hover table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th scope="col">Patente</th>
                    <th scope="col">Tara</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Número de serie</th>
                    <th scope="col">Disponibilidad</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i<chasis.length; i++){ %>
                <tr>
                    <td style="text-transform:uppercase"><%= chasis[i].patente  %></td>
                    <td style="text-transform:uppercase"><%= chasis[i].tara  %></td>
                    <td style="text-transform:uppercase"><%= chasis[i].marca  %></td>
                    <td style="text-transform:uppercase"><%= chasis[i].modelo  %></td>
                    <td style="text-transform:uppercase"><%= chasis[i].ndeserie  %></td>
                    <td>
                        <!-- ACA MUESTRA LA DISPONIBILIDAD DEPENDIENDO DEL VALOR BOOLEANO-->
                    </td>
                    <td>
                        <!-- BOTON EDITAR, BORRAR, CAMBIAR DISPONIBILIDAD-->
                    </td>
                </tr>
                <%}%>
            </tbody>
        </table>
    </div>    
    
    
    
</div>

<%- include ('../../partials/_masterfooter'); %>
