<%- include ('../../partials/_masterheader'); %>
    <script>
        $("#buttonClients").attr("aria-pressed", "true");
    </script>

    <!-- Page Content -->
    <div class="container-fluid">
        <h1>Clientes</h1>


        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalClients">
            Añadir nuevo trabajador
        </button>

        <!-- Inicio Modal -->
        <div class="modal fade" id="modalClients" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">

                    <!-- Modal header-->
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Añadir trabajador</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!-- Modal body-->
                    <div class="modal-body">
                        <form class="text-center p-3 row container-fluid" action="/addClient" data-toggle="validator"
                            method="POST">
                            <input type="string" style="text-transform:uppercase" name="nombre"
                                class="form-control form-control-sm" required>
                            <label>Nombre</label>
                            <input type="string" style="text-transform:uppercase" name="RUT"
                                class="form-control form-control-sm" required>
                            <label>RUT</label>
                            <input type="string" style="text-transform:uppercase" name="giro"
                                class="form-control form-control-sm" required>
                            <label>Giro</label>
                            <input type="string" style="text-transform:uppercase" name="replegal"
                                class="form-control form-control-sm" required>
                            <label>Representante legal</label>
                            <input type="string" style="text-transform:uppercase" name="rutreplegal"
                                class="form-control form-control-sm" required>
                            <label>Rut Representante legal</label>
                            <input type="string" style="text-transform:uppercase" name="correo"
                                class="form-control form-control-sm" required>
                            <label>Correo</label>
                            <input type="string" style="text-transform:uppercase" name="telefono"
                                class="form-control form-control-sm" required>
                            <label>Número de teléfono</label>
                            <input type="string" style="text-transform:uppercase" name="direccion"
                                class="form-control form-control-sm" required>
                            <label>Dirección</label>
                            <!-- Modal footer-->
                            <div class="modal-footer container-fluid">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                            <!--Fin Modal-->
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--Inicio Tabla-->

        <div class="table-responsive">

            <table class="table table-hover table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">RUT</th>
                        <th scope="col">Giro</th>
                        <th scope="col">Representante legal</th>
                        <th scope="col">RUT Rep. legal</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Número de teléfono</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i<clients.length; i++){ %>
                        <tr>
                            <td style="text-transform:uppercase">
                                <%= clients[i].nombre %>
                            </td>
                            <td style="text-transform:uppercase">
                                <%= clients[i].RUT %>
                            </td>
                            <td style="text-transform:uppercase">
                                <%= clients[i].giro %>
                            </td>
                            <td style="text-transform:uppercase">
                                <%= clients[i].replegal %>
                            </td>
                            <td style="text-transform:uppercase">
                                <%= clients[i].rutreplegal %>
                            </td>
                            <td style="text-transform:uppercase">
                                <%= clients[i].correo %>
                            </td>
                            <td style="text-transform:uppercase">
                                <%= clients[i].telefono %>
                            </td>
                            <td style="text-transform:uppercase">
                                <%= clients[i].direccion %>
                            </td>
                            <td>
                                <!-- BOTON EDITAR, BORRAR-->
                            </td>
                        </tr>
                        <%}%>
                </tbody>
            </table>
        </div>

    </div>

    <%- include ('../../partials/_masterfooter'); %>